name: Build APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          gradle-version: "8.5"

      - name: Build Debug APK
        run: |
          gradle --version
          gradle clean :app:assembleDebug --stacktrace --info --console=plain --warning-mode all

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: FirefoxTransfer-debug-apk
          path: app/build/outputs/apk/debug/*.apk
